.app-wrapper {
  margin: auto;
  display: grid;
  grid-template-areas: 
  'h h'
  'b c'
  '. c';
  max-width: 1000px;
  grid-template-rows: 40px 1fr 3fr;
  grid-template-columns: 1fr 5fr;
  grid-gap: 0.5em;
}

.content {
  max-width: 1000px;
  padding-left: 0.8em;
  padding-top: 5px;
  grid-area: c;
  background-color: lemonchiffon;
}

